vis here
<div id="visualization"></div>



<div>

    <h2>Content</h2>
<hr/>

<div>
    <label>Course</label>
    <select>
    <option value="Math">Math</option>
    <option value="Physics">Physics</option>
    <option value="Chemistry">Chemistry</option>
    <option value="adsfasdf">adsfasdf</option>
</select>
</div>
<br/>
<br/>
<div>
    <label>Pick a Time</label>
    <div>TIME PICKER</div>
</div>
<br/>
<br/>
<div>
    <label>Assign Professor</label>
    <div>Dropdown staff</div>
</div>
<br/>
<br/>
<div>
    <label>location</label>
    <div>dropdown / input box</div>
</div>


<hr/>
<button (click)="add()" class="btn btn-default">Add Sample1 Math</button>
<button (click)="add2()" class="btn btn-default">Add Sample2 Com</button>
<button (click)="add3()" class="btn btn-default">Add Sample3 Che</button>
</div>
