<div class="clients">
    <div *ngIf="!data">
        <h1>Manage Clients</h1>
        <hr>
        <div class="cs-loader">
            <div class="cs-loader-inner">
                <label>	L</label>
                <label>	O</label>
                <label>	A</label>
                <label>	D</label>
                <label>	I</label>
                <label>	N</label>
                <label>	G</label>
                <label>	.</label>
                <label>	.</label>
                <label>	.</label>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="data">
        <h1>Manage Clients</h1>
        <hr>
        <div class="col-md-6">
          <div class="wrapper2">
            <h2>Clients</h2>
            <button class="addClient btn btn-primary" (click)="addClient()" title="Add new client"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <hr>
            <div class="error" *ngIf="error">{{error}}</div>
            <input placeholder="Filter by client name" class="form-control" [(ngModel)]="filterQuery" />
            <table class="table table-striped" [mfData]="data | userFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th>
                            <mfDefaultSorter by="status">Status</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="firstName">Name</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="email">Email</mfDefaultSorter>
                        </th>
                        <th>Banner/CAM</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of mf.data">
                        <td>
                            <div [class.statusStage1]="client.suitability" [class.statusStage2]="!client.suitability" [class.statusStage3]="!client.suitability && !client.consent && !client.learningStyle" [class.statusStage4]="!client.suitability && !client.consent && !client.learningStyle && banner && cam"></div>
                        </td>
                        <td>{{client.firstName + " " + client.lastName}}</td>
                        <td>{{client.email}}</td>
                        <td>
                          <div *ngIf="!client.suitability && !client.consent && !client.learningStyle">
                            <p-checkbox [(ngModel)]="banner" label="Banner" binary="true" (onChange)="checkboxChange('banner')"></p-checkbox>
                            <p-checkbox [(ngModel)]="cam" label="CAM" binary="true" (onChange)="checkboxChange('cam')"></p-checkbox>
                          </div>
                        </td>
                        <td class="actionColumn middle">
                            <div class="dropdown-toggle" id="actionMenu" title="Click to view options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-ellipsis-h fa-2x" aria-hidden="true"></i>
                            </div>
                            <ul class="dropdown-menu actionMenu" aria-labelledby="actionMenu">
                                <li *ngIf="!client.suitability && !client.consent && !client.learningStyle && banner && cam"><a (click)="createAsStudent(client)"><i class="fa fa-check" aria-hidden="true"></i> Create as Student</a></li>
                                <li><a (click)="showClientView(client)"><i class="fa fa-eye" aria-hidden="true"></i> View Info</a></li>
                                <li class="deleteClient"><a (click)="deleteAlert(client, $event)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="push"></div>
        </div>
        <div class="footer">
            <div>
                <button (click)="goBack()" class="btn btn-default">Back</button>
            </div>
        </div>
      </div>
        <div *ngIf="!clientView" class="col-md-6">
            <h2>Status Report</h2>
            <hr>
            <div>
                <h3>Total clients: {{ clientTotal }}</h3></div>
            <div style="display: block">
                <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [colors]="doughnutChartColors"
                  [chartType]="doughnutChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
        <div *ngIf="clientView" class="col-md-6">
            <h2>Information for {{clientView.firstName + " " + clientView.lastName}}</h2>
            <div (click)="statusReport($event)" class="statusButton" title="View status report"><i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i></div>
            <hr>
            <ul class="sectionBtnGroup col-sm-12">
                <li class="sectionButtons" [ngClass]="{active: showGeneral}" title="General Info" (click)="sectionBtnClicked($event, 'general')">
                    <h4>General Info</h4></li>
                <li class="sectionButtons" *ngIf="!clientView.suitability" [ngClass]="{active: showSuitability}" title="Suitability" (click)="sectionBtnClicked($event, 'suitability')">
                    <h4>Suitability</h4></li>
                <li class="sectionButtons" *ngIf="!clientView.consent" [ngClass]="{active: showConsent}" title="Consent" (click)="sectionBtnClicked($event, 'consent')">
                    <h4>Consent</h4></li>
                <li class="sectionButtons" *ngIf="!clientView.learningStyle" [ngClass]="{active: showLearningStyle}" title="Consent" (click)="sectionBtnClicked($event, 'learningStyle')">
                    <h4>Learning Style</h4></li>
            </ul>
            <div *ngIf="showGeneral" class="infoPanel">
                <br />
                <div class="form-group">
                    <label class="control-label">id: </label> {{clientView.userID}} <br />
                    <label class="control-label">Inquiry Date: </label> {{clientView.inquiryDate}} <br />
                    <label class="control-label">First Name: </label> {{clientView.firstName}} <br />
                    <label class="control-label">Last Name: </label> {{clientView.lastName}} <br />
                    <label class="control-label">Birth Date: </label> {{clientView.birthdate}} <br />
                    <label class="control-label">Email: </label> {{clientView.email}} <br />
                    <label class="control-label">Phone: </label> {{clientView.phone}} <br />
                </div>
            </div>
            <div *ngIf="showSuitability" class="infoPanel">
                <br />
                <div class="form-group">
                    <label class="control-label">Transcript: </label> {{suitabilityView.transcript}} <br />
                    <label class="control-label">Courses: </label> {{suitabilityView.courses}} <br />
                    <label class="control-label">Goal: </label> {{suitabilityView.goal}} <br />
                    <label class="control-label">Transition Date: </label> {{suitabilityView.transitionDate}} <br />
                    <label class="control-label">Governament ID: </label> {{suitabilityView.governmentID}} <br />
                    <label class="control-label">Appropriate Goal: </label> {{suitabilityView.appropriateGoal}} <br />
                    <label class="control-label">19+ Years Old: </label> {{suitabilityView.isValidAge}} <br />
                    <label class="control-label">Not Registered In High School or Post-Sec: </label> {{suitabilityView.schoolRegistration}} <br />
                    <label class="control-label">Available During Class Time: </label> {{suitabilityView.availableDuringClass}} <br />
                    <label class="control-label">Last Grade Completed: </label> {{suitabilityView.lastGrade}} <br />
                    <label class="control-label">Level: </label> {{suitabilityView.level}} <br />
                    <label class="control-label">Post-Secondary/Job Offer start date: </label> {{suitabilityView.offerStartDate}} <br />
                    <label class="control-label">Meets Next Goals Requirements: </label> {{suitabilityView.meetsGoal}} <br />
                    <label class="control-label">Time out of School/Training: </label> {{suitabilityView.timeOutOfSchool}} <br />
                    <label class="control-label">Has Been In Program Before: </label> {{suitabilityView.inProgramBefore}} <br />
                    <label class="control-label">Employment: </label> {{suitabilityView.employment}} <br />
                    <label class="control-label">Income Source: </label> {{suitabilityView.incomeSource}} <br />
                    <label class="control-label">Age: </label> {{suitabilityView.age}} <br />
                    <label class="control-label"># of Hours/Week: </label> {{suitabilityView.hoursPerWeek}} <br />
                    <label class="control-label">Work History: </label> {{suitabilityView.workHistory}} <br />
                </div>
            </div>
            <div *ngIf="showConsent" class="infoPanel">
                <br />
                <div class="form-group">
                    <label class="control-label">Date: </label> {{consentView.date}} <br />
                    <label class="control-label">Detailed Message: </label> {{consentView.detailedMessage}} <br />
                    <label class="control-label">Ontario Works: </label> {{consentView.ontarioWorks}} <br />
                    <label class="control-label">Ontario Disability: </label> {{consentView.ontarioDisabilityProgram}} <br />
                    <label class="control-label">Employment Insurance: </label> {{consentView.employmentInsurance}} <br />
                    <label class="control-label">Employment Services: </label> {{consentView.employmentServices}} <br />
                    <label class="control-label">Other: </label> {{consentView.other}} <br />
                    <label class="control-label">Contact Name: </label> {{consentView.contactName}} <br />
                    <label class="control-label">Contact Number: </label> {{consentView.contactNum}} <br />
                    <label class="control-label">Literacy Agencies: </label> {{consentView.literacyAgencies}} <br />
                    <label class="control-label">Literacy Witness: </label> {{consentView.literacyWitness}} <br />
                </div>
            </div>
            <div *ngIf="showLearningStyle" class="infoPanel">
                <br />
                <div class="form-group">
                  <div>
                    <div style="display: block">
                      <canvas baseChart
                              [datasets]="barChartData"
                              [labels]="barChartLabels"
                              [options]="barChartOptions"
                              [colors]="barChartColors"
                              [legend]="barChartLegend"
                              [chartType]="barChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)"></canvas>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
