<h2>Manage Students</h2>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="error" *ngIf="error">{{error}}</div>
        <div class="pull-right">
          <div class="padding">
            <button class="btn btn-success" (click)="addStudent()"><i class="fa fa-plus" aria-hidden="true"></i> Add New Student</button>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Student #</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students" [class.active]="student === selectedStudent" (click)="onSelect(student)">
                    <td>{{student.studentNumber}}</td>
                    <td>{{student.firstName + " " + student.lastName}}</td>
                    <td>{{student.email}}</td>
                    <td class="actionColumn middle">
                      <div class="padding inline">
                        <button class="btn btn-primary" (click)="gotoDetail(student, $event)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                      </div>
                      <div class="inline">
                        <button class="btn btn-danger" (click)="deleteStudent(student, $event)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                      </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
