<div class="caseNotes">
  <h1><strong>Case Notes</strong></h1>
  <hr>
  <div *ngIf="!data">
    <div class="cs-loader">
      <div class="cs-loader-inner">
        <label>	L</label>
        <label>	O</label>
        <label>	A</label>
        <label>	D</label>
        <label>	I</label>
        <label>	N</label>
        <label>	G</label>
        <label>	.</label>
        <label>	.</label>
        <label>	.</label>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="data">
    <div class="col-md-6">
      <div class="wrapper">
      <h2>Students</h2>
      <hr>
      <input placeholder="Filter by student name" class="form-control" [(ngModel)]="filterQuery" />
      <p-dataTable [value]="data | userFilter : filterQuery" [responsive]="true">
          <p-column field="studentNumber" header="Number" [sortable]="true" [style]="{'width': '120px'}"></p-column>
          <p-column field="fullName" header="Name" [sortable]="true"></p-column>
          <p-column header="Action" [style]="{'width': '150px'}">
            <template let-data="rowData" pTemplate="body">
              <button class="btn btn-primary" (click)="showCaseNotes(data)"><i class="fa fa-eye" aria-hidden="true"></i> View Notes</button>
            </template>
          </p-column>
      </p-dataTable>
      <div class="push"></div>
    </div>
    <div class="footer">
      <div>
        <button (click)="goBack()" class="btn btn-default">Back</button>
      </div>
    </div>
    </div>

    <div *ngIf="notesView" class="col-md-6">
      <h2>Case Notes for {{notesView.firstName + " " + notesView.lastName}}</h2>
      <hr>
      <div>
        <label for="caseNote">New Case Note:</label>
        <textarea class="form-control" rows="3" name="caseNote" [(ngModel)]="note"></textarea>
        <button class="btn btn-success" style="float: right; margin: 5px" (click)="saveNote(notesView.studentID)" title="Save note"><i class="fa fa-floppy-o " aria-hidden="true"></i> Save Note</button>
      </div>
      <hr style="clear:both">
      <div>
          <ul class="notesList">
            <li *ngFor="let noteItem of notes"><b>{{noteItem.dateTime | date}}:</b> {{noteItem.caseNote}} <button class="btn-danger deleteNote" (click)="deleteAlert(noteItem.caseNoteID)" title="Delete note"><i class="fa fa-trash-o"></i></button></li>
          </ul>
      </div>
    </div>
  </div>
</div>
