.caseNotes {
  font-family: Avenir, Calibri, Minion;
}

.backButton {
  position: fixed;
  bottom: 25px;
}

.notesList li{
  padding: 10px;
  margin: 8px;
  list-style: none;
  border-radius: 5px;
  background: #efefef;
}
