<div class="staff wrapper">
    <h1>Manage Staff</h1>
    <hr>
    <div class="" *ngIf="!users">
        <div class="cs-loader">
            <div class="cs-loader-inner">
                <label>	L</label>
                <label>	O</label>
                <label>	A</label>
                <label>	D</label>
                <label>	I</label>
                <label>	N</label>
                <label>	G</label>
                <label>	.</label>
                <label>	.</label>
                <label>	.</label>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="users">
        <div class="col-md-8">
            <table class="table table-striped" [mfData]="users | userFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="15">
                <thead>
                    <tr>
                        <th>
                            <mfDefaultSorter by="userType">Role</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="firstName">Name</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="email">Email</mfDefaultSorter>
                        </th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th colspan="5">
                            <input placeholder="Filter by staff name" class="form-control" [(ngModel)]="filterQuery" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mf.data" [class.active]="user === selectedUser">
                        <td>{{item.userType}}</td>
                        <td>{{item.firstName + " " + item.lastName}}</td>
                        <td>{{item.email}}</td>
                        <td class="actionColumn middle">
                            <div class="inline">
                                <button class="btn btn-primary" (click)="gotoEdit(item, $event)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                            </div>
                            <div class="inline">
                                <button class="btn btn-danger" (click)="deleteAlert(item, $event)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
        <div class="col-md-4">
          <button class="btn btn-success pull-right" style="margin-bottom: 3px;" (click)="addUser()"><i class="fa fa-plus" ></i> Add Staff</button>
            <div class="well statBox" style="clear: both" (click)="filterStaff('total')">
                <h2><strong>{{ usersLength }}</strong> Total Staff</h2>
            </div>
            <div class="well statBox" (click)="filterStaff('Admin')">
                <h2><strong>{{ adminNumber }}</strong> Admin Users</h2>
            </div>
            <div class="well statBox" (click)="filterStaff('Staff')">
                <h2><strong>{{ staffNumber }}</strong> Staff Users</h2>
            </div>
            <div class="well statBox" (click)="filterStaff('Instructor')">
                <h2><strong>{{ instructorNumber }}</strong> Instructor Users</h2>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>
<div class="footer">
    <div>
        <button (click)="goBack()" class="btn btn-default">Back</button>
    </div>
</div>
