.staff {
  font-family: Avenir, Calibri, Minion;
  color: #333f48;
}

.padding {
  padding: 5px !important;
}

button {
    min-width: 80px;
}

.inline {
  display:inline;
}

.actionColumn {
  width:20%;
}

.middle{
  text-align:center;
}

.backButton {
  position: fixed;
  bottom: 25px;
}
