.staff {
  font-family: Avenir, Calibri, Minion;
}

.padding {
  padding: 5px !important;
}

button {
    min-width: 80px;
}

.inline {
  display:inline;
}

.actionColumn {
  width:20%;
}

.middle{
  text-align:center;
}
