.georgianBlue {
  background-color: #004B87;
  color: white;
}

.navbarItem {
  color:white !important;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #0072ce;
    /* Firefox */
    -moz-transition: all 1s ease-in;
    /* Standard */
    transition: all 0.4s ease-in;
}
