<div *ngIf="user" class="staffEdit row form-horizontal">
    <div *ngIf="!newUser">
        <h2>Edit {{user.firstName}}'s Details</h2>
    </div>
    <div *ngIf="newUser">
        <h2>Add New User</h2>
    </div>
    <hr>
    <div class="col-md-6">
    <div class="form-group">
        <div *ngIf="!newUser">
            <label class="col-md-4 control-label">id: </label>
            <div class="col-md-4">
                {{user.staffID}}
            </div>
        </div>
    </div>
    <div class="form-group" *ngIf="newUser">
        <label class="col-md-4 control-label">Authorization Level: </label>
        <div class="col-md-8">
          <select class="form-control" [(ngModel)]="user.authLevel">
            <option value="Instructor" selected="selected">Instructor</option>
            <option value="Staff">Staff</option>
            <option value="Admin">Admin</option>
          </select>
        </div>
    </div>
    <div class="form-group" *ngIf="newUser">
        <label class="col-md-4 control-label">User Name: </label>
        <div class="col-md-8">
            <input class="form-control" [(ngModel)]="user.username" placeholder="User Name" required />
        </div>
    </div>
    <div class="form-group" *ngIf="newUser">
        <label class="col-md-4 control-label">Password: </label>
        <div class="col-md-8">
            <input class="form-control" type="password" [(ngModel)]="user.password" placeholder="Password" required />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">First Name: </label>
        <div class="col-md-8">
            <input class="form-control" [(ngModel)]="user.firstName" placeholder="First Name" required />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Last Name: </label>
        <div class="col-md-8">
            <input class="form-control" [(ngModel)]="user.lastName" placeholder="Last Name" required />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Email: </label>
        <div class="col-md-8">
            <input class="form-control" type="email" [(ngModel)]="user.email" placeholder="Email" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button (click)="goBack()" class="btn btn-default">Back</button>
            <button (click)="save()" class="btn btn-primary">Save</button>
        </div>
    </div>
  </div>
</div>
