<div>
    <h2><strong>Timetable</strong></h2>
    <hr>

    <div *ngIf="!events" class="cs-loader">
        <div class="cs-loader-inner">
            <label>	L</label>
            <label>	O</label>
            <label>	A</label>
            <label>	D</label>
            <label>	I</label>
            <label>	N</label>
            <label>	G</label>
            <label>	.</label>
            <label>	.</label>
            <label>	.</label>
        </div>
    </div>
    <p-schedule *ngIf="events" [events]="events" [editable]="false" [weekends]="false" [allDaySlot]="false" [options]="options"></p-schedule>

  </div>
