<div *ngIf="student" class="form-horizontal">
    <h2>Information for {{student.firstName + " " + student.lastName}}</h2>
    <hr>
    <div class="form-group">
        <label class="col-sm-3 control-label">id: </label>
        <div class="col-sm-9">
          {{student._id}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">First Name: </label>
        <div class="col-sm-9">
          {{student.firstName}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Last Name: </label>
        <div class="col-sm-9">
          {{student.lastName}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Student Number: </label>
        <div class="col-sm-9">
          {{student.studentNumber}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Email: </label>
        <div class="col-sm-9">
          {{student.email}}
        </div>
    </div>
</div>
