<div class="">
    <div *ngIf="!data">
        <h2>My Courses</h2>
        <hr>
        <div class="cs-loader">
            <div class="cs-loader-inner">
                <label>	L</label>
                <label>	O</label>
                <label>	A</label>
                <label>	D</label>
                <label>	I</label>
                <label>	N</label>
                <label>	G</label>
                <label>	.</label>
                <label>	.</label>
                <label>	.</label>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="data">
        <div class="col-md-6">
          <div class="wrapper3">
            <h2>My Courses</h2>
            <hr>
            <div class="error" *ngIf="error">{{error}}</div>
            <table class="table table-striped" [mfData]="data | courseFilter : courseQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th>
                            <mfDefaultSorter by="courseName">Name</mfDefaultSorter>
                        </th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th colspan="5">
                            <input placeholder="Filter by course name" class="form-control" [(ngModel)]="courseQuery" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of mf.data">
                        <td>{{course.courseName}}</td>
                        <td class="action">
                            <button type="button" (click)="doAttendance(course)" class="btn btn-info">Attendance</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="push"></div>
        </div>
        <div class="footer">
            <div>
                <button (click)="goBack()" class="btn btn-default">Back</button>
            </div>
        </div>
      </div>
        <div *ngIf="!attendanceView" class="col-md-6">
            <h2>Status Report</h2>
            <hr>
            <h3>Total courses: {{ data.length }}</h3>
        </div>
        <div *ngIf="attendanceView" class="col-md-6">
            <h2>Attendance for {{ attendanceCourse }}</h2>
            <hr>
            <div *ngIf="loading" class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <table *ngIf="!loading" class="table table-striped" [mfData]="attendanceStudents | userFilter : studentQuery" #mf="mfDataTable" [mfRowsOnPage]="15">
                <thead>
                    <tr>
                        <th>
                            <mfDefaultSorter by="firstName">Name</mfDefaultSorter>
                        </th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th colspan="5">
                            <input placeholder="Filter by student name" class="form-control" [(ngModel)]="studentQuery" />
                        </th>
                    </tr>
                </thead>
                <h3 *ngIf="!attendanceStudents" style="color:red">No students enrolled in class</h3>
                <tbody>
                    <tr *ngFor="let student of mf.data">
                        <td>{{student.firstName}} {{student.lastName}}</td>
                        <td class="actionAttendance">
                            <p-radioButton class="attendanceRadioButtons" name="{{student.usedID}}" value="P" label="Present" [(ngModel)]="student.attendanceValue"></p-radioButton>
                            <p-radioButton class="attendanceRadioButtons" name="{{student.usedID}}" value="A" label="Absent" [(ngModel)]="student.attendanceValue"></p-radioButton>
                            <p-radioButton class="attendanceRadioButtons" name="{{student.usedID}}" value="MC" label="Made Contact" [(ngModel)]="student.attendanceValue"></p-radioButton>
                            <!-- <button *ngIf="!student.absent" type="button" (click)="markAbsent(student)" class="btn btn-success">Present</button>
                            <button *ngIf="student.absent" type="button" (click)="markAbsent(student)" class="btn btn-warning">Absent</button> -->
                        </td>
                        <td style="width: 10%;">
                          <div *ngIf="student.attendanceValue === 'A'" style="color: red; display: inline-block"><strong>{{student.attendanceValue}}</strong></div>
                          <div *ngIf="student.attendanceValue === 'P'" style="color: green; display: inline-block"><strong>{{student.attendanceValue}}</strong></div>
                          <div *ngIf="student.attendanceValue === 'MC'" style="color: #FFA500; display: inline-block"><strong>{{student.attendanceValue}}</strong></div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div *ngIf="!loading">
                <button type="button" (click)="submitAttendance()" style="float:right;" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Submit</button>
            </div>
        </div>
        <div class="push"></div>
    </div>
