<h2>Dashboard</h2>
<hr>
<div class="row">
    <div class="col-md-4 dashboardItem">
        <div class="itemBorder">
            <a routerLink="/list" routerLinkActive="active">
                <div>
                    <i class="fa fa-list fa-lg-icon" aria-hidden="true"></i>
                </div>
                <div>
                    <h1 class="dashboardItemText">Student List</h1>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 dashboardItem">
        <div class="itemBorder">
            <a routerLink="/student" routerLinkActive="active">
                <div>
                    <i class="fa fa-graduation-cap fa-lg-icon" aria-hidden="true"></i>
                </div>
                <div>
                    <h1 class="dashboardItemText">Manage Students</h1>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 dashboardItem">
        <div class="itemBorder">
            <a routerLink="/user" routerLinkActive="active">
                <div>
                    <i class="fa fa-users fa-lg-icon" aria-hidden="true"></i>
                </div>
                <div>
                    <h1 class="dashboardItemText">Manage Users</h1>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 dashboardItem">
        <div class="itemBorder">
            <a routerLink="/" routerLinkActive="active">
                <div>
                    <i class="fa fa-ban fa-lg-icon" aria-hidden="true"></i>
                </div>
                <div>
                    <h1 class="dashboardItemText">TBD</h1>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 dashboardItem">
        <div class="itemBorder">
            <a routerLink="/" routerLinkActive="active">
                <div>
                    <i class="fa fa-ban fa-lg-icon" aria-hidden="true"></i>
                </div>
                <div>
                    <h1 class="dashboardItemText">TBD</h1>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 dashboardItem">
        <div class="itemBorder">
            <a routerLink="/" routerLinkActive="active">
                <div>
                    <i class="fa fa-ban fa-lg-icon" aria-hidden="true"></i>
                </div>
                <div>
                    <h1 class="dashboardItemText">TBD</h1>
                </div>
            </a>
        </div>
    </div>
</div>
