<div class="dashboard">
    <div *ngIf="userType === 'Client'">
      <h2>Welcome, {{client}}</h2>
    </div>
    <div *ngIf="userType === 'Admin' || userType === 'Staff'">
      <h2>Dashboard</h2>
    </div>
    <hr>
    <div class="container">
    <div class=" row">
        <div class="col-md-4 dashboardItem" *ngIf="clientStatus">
            <div class="itemBorder">
                <a routerLink="/clients" routerLinkActive="active">
                    <div>
                        <i class="fa fa-book fa-lg-icon" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h1 class="dashboardItemText">Manage Clients</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 dashboardItem" *ngIf="manageStudents">
            <div class="itemBorder">
                <a routerLink="/students" routerLinkActive="active">
                    <div>
                        <i class="fa fa-graduation-cap fa-lg-icon" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h1 class="dashboardItemText">Manage Students</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 dashboardItem" *ngIf="manageStaff">
            <div class="itemBorder">
                <a routerLink="/staff" routerLinkActive="active">
                    <div>
                        <i class="fa fa-users fa-lg-icon" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h1 class="dashboardItemText">Manage Staff</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 dashboardItem" *ngIf="manageCourses">
            <div class="itemBorder">
                <a routerLink="/courses" routerLinkActive="active">
                    <div>
                        <i class="fa fa-calendar-check-o fa-lg-icon" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h1 class="dashboardItemText">Manage Courses</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 dashboardItem" *ngIf="suitability">
            <div class="itemBorder">
                <a routerLink="/suitability" routerLinkActive="active">
                    <div>
                        <i class="fa fa-question fa-lg-icon" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h1 class="dashboardItemText">Suitability</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 dashboardItem" *ngIf="caseNotes">
            <div class="itemBorder">
                <a routerLink="/case-notes" routerLinkActive="active">
                    <div>
                        <i class="fa fa-commenting fa-lg-icon" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h1 class="dashboardItemText">Case Notes</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 dashboardItem" *ngIf="consent && consentForm">
            <div class="itemBorder">
                <a routerLink="/consent" routerLinkActive="active">
                    <div>
                        <i class="fa fa-check-circle-o fa-lg-icon" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h1 class="dashboardItemText">Consent</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 dashboardItem" *ngIf="learningStyle && learningStyleForm">
            <div class="itemBorder">
                <a routerLink="/learning-style" routerLinkActive="active">
                    <div>
                        <i class="fa fa-cubes fa-lg-icon" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h1 class="dashboardItemText">Learning Style</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 dashboardItem" *ngIf="maesdprf">
            <div class="itemBorder">
                <a routerLink="/prf" routerLinkActive="active">
                    <div>
                        <i class="fa fa-ban fa-lg-icon" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h1 class="dashboardItemText">PRF</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 dashboardItem" *ngIf="timetable">
            <div class="itemBorder">
                <a routerLink="/timetable" routerLinkActive="active">
                    <div>
                        <i class="fa fa-calendar fa-lg-icon" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h1 class="dashboardItemText">Timetable</h1>
                    </div>
                </a>
            </div>
        </div>
         <div class="col-md-4 dashboardItem" *ngIf="attendanceList">
            <div class="itemBorder">
                <a routerLink="/attendance-list" routerLinkActive="active">
                    <div>
                        <i class="fa fa-calendar fa-lg-icon" aria-hidden="true"></i>
                    </div>
                    <div>
                        <h1 class="dashboardItemText">My Courses</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
  </div>
</div>
