h1, h2, h3, h4, h5, h6 {
  font-family: Avenir, Calibri, Minion;
  color: #333f48;
}

.dashboard {
    color: #333f48;
}

.dashboardItem {
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    background-color: #333f48;
    box-shadow: 8px 8px 8px #FFFFFF;
}

.dashboardItem:hover {
  background-color: #004b87;
  transition: 0.1s;
}

.dashboardItemText {
    color: #c4bfb6;
}

.fa-lg-icon {
    font-size: 6em;
    color: #c4bfb6;
}

.itemBorder {
    padding: 10px;
    padding-top: 40px;
}

.itemBorder a {
    text-decoration: none;
}

.itemBorder:hover {
   -moz-transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -o-transform: scale(1.1);
   transform: scale(1.02);
   transition: 0.1s;
}
