h2 {
    margin-bottom: 25;
}

.dashboardItem {
  text-align:center;
  padding: 10px;
  white-space: nowrap;
}

.dashboardItemText {
    color:#222;
}

.fa-lg-icon {
  font-size: 6em;
  color:#222
}

.itemBorder {
  padding: 10px;
  border: 1px solid #000000;
}
