<div class="students">
    <h2>Manage Students</h2>
    <hr>
    <div class="" *ngIf="!students">
        <div class="cs-loader">
            <div class="cs-loader-inner">
                <label>	L</label>
                <label>	O</label>
                <label>	A</label>
                <label>	D</label>
                <label>	I</label>
                <label>	N</label>
                <label>	G</label>
                <label>	.</label>
                <label>	.</label>
                <label>	.</label>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="students">
        <div class="col-md-12">
            <div class="error" *ngIf="error">{{error}}</div>
        </div>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students" [class.active]="student === selectedStudent">
                        <td>{{student.firstName + " " + student.lastName}}</td>
                        <td>{{student.email}}</td>
                        <td class="actionColumn middle">
                            <div class="inline">
                                <button class="btn btn-primary" (click)="gotoEdit(student, $event)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                            </div>
                            <div class="inline">
                                <button class="btn btn-success" (click)="archiveAlert(student, $event)"><i class="fa fa-archive" aria-hidden="true"></i> Archive</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="backButton">
        <div>
            <button (click)="goBack()" class="btn btn-default">Back</button>
        </div>
    </div>
</div>
