.clients {
  font-family: Avenir, Calibri, Minion;
  color: #333f48 !important;
}

.sectionButtons {
    display: inline;
    padding: 5 10 5 10;
    margin: 0 2 0 2;
    float: left;
    font-weight: bold;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
}

.sectionBtnGroup {
    margin-bottom: 40px;
}

.sectionBtnGroup>li:focus, .sectionBtnGroup>li:hover {
    background-color: #333f48;
    color: white;
    cursor: pointer;
    transition: .6s;
}

.active {
    background-color: #333f48;
    color: white;
}

#actionMenu {
  cursor:pointer;

}

.actionMenu {
  position: relative !important;
}

th:first-of-type, th:last-of-type {
  text-align: center;
}

h2 {
    margin-bottom: 25;
}

.inline {
    display: inline;
}

button {
    min-width: 80px;
}

.actionColumn {
    width: 20%;
}

.middle {
    text-align: center;
}

.backButton {
  position: fixed;
  bottom: 25px;
}

.statusStage1 {
	border-radius: 50%;
	width: 20px;
	height: 20px;
  background-color: red;
  margin: 0 auto;
}

.statusStage2 {
	border-radius: 50%;
	width: 20px;
	height: 20px;
  background-color: yellow;
  margin: 0 auto;
}

.statusStage3 {
	border-radius: 50%;
	width: 20px;
	height: 20px;
  background-color: green;
  margin: 0 auto;
}

.statusButton {
  position: absolute;
  right: 10;
  top: 20;
  cursor:pointer;
  background-color: #fff;
  color: #333f48;
  display: inline;
  padding: 5 10 5 10;
  margin: 0 2 0 2;
  float: left;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
}

.statusButton:hover {
  background-color: #333f48;
  color: #fff;
  transition: .4s;
}
