<div class="clients">
    <div *ngIf="!clients">
        <h2>Clients</h2>
        <hr>
        <div class="cs-loader">
            <div class="cs-loader-inner">
                <label>	L</label>
                <label>	O</label>
                <label>	A</label>
                <label>	D</label>
                <label>	I</label>
                <label>	N</label>
                <label>	G</label>
                <label>	.</label>
                <label>	.</label>
                <label>	.</label>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="clients">
        <div class="col-md-6">
            <h2>Clients</h2>
            <hr>
            <div class="error" *ngIf="error">{{error}}</div>
            <div class="">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of clients">
                            <td>
                                <div [class.statusStage1]="client.status === '1'" [class.statusStage2]="client.status === '2'" [class.statusStage3]="client.status === '3'"></div>
                            </td>
                            <td>{{client.firstName + " " + client.lastName}}</td>
                            <td>{{client.email}}</td>
                            <td class="actionColumn middle">
                                <!-- <div class="inline">
                                <button class="btn btn-primary" (click)="gotoEdit(client, $event)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                            </div> -->
                                <!-- <div class="padding inline">
                                    <button (click)="showClientView(client)" class="btn btn-primary">View Info</button>
                                </div>
                                <div class="inline">
                                    <button class="btn btn-danger" (click)="deleteClient(client, $event)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                                </div> -->
                                <div class="dropdown-toggle" id="actionMenu" title="Click to view options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-ellipsis-h fa-2x" aria-hidden="true"></i>
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="actionMenu">
                                    <li><a (click)="showClientView(client)"><i class="fa fa-eye" aria-hidden="true"></i> View Info</a></li>
                                    <li><a (click)="deleteClient(client, $event)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="!clientView && !suitabilityView" class="col-md-6">
            <h2>Status</h2>
            <hr>
            <div>
                <h3>Total clients: {{ clientTotal }}</h3></div>
            <div style="display: block">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [colors]="doughnutChartColors" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        <div *ngIf="clientView" class="col-md-6">
            <h2>Viewing Information for {{clientView.firstName + " " + clientView.lastName}}</h2>
            <hr>
            <ul class="sectionBtnGroup col-sm-12">
                <li class="sectionButtons" [ngClass]="{active: showGeneral}" title="General Info" (click)="sectionBtnClicked($event, 'general')">
                    <h4>General Info</h4></li>
                <li class="sectionButtons" [ngClass]="{active: showSuitability}" title="Suitability" (click)="sectionBtnClicked($event, 'suitability')">
                    <h4>Suitability</h4></li>
            </ul>
            <div *ngIf="showGeneral">
                <div class="form-group">
                    <label class="control-label">id: </label>
                    <div class="">
                        {{clientView.userID}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Inquiry Date: </label>
                    <div class="">
                        {{clientView.inquiryDate}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">First Name: </label>
                    <div class="">
                        {{clientView.firstName}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name: </label>
                    <div class="">
                        {{clientView.lastName}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Birth Date: </label>
                    <div class="">
                        {{clientView.birthdate}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Email: </label>
                    <div class="">
                        {{clientView.email}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Phone: </label>
                    <div class="">
                        {{clientView.phone}}
                    </div>
                </div>
            </div>
            <div *ngIf="showSuitability">
                <div class="form-group">
                    <label class="control-label">Transcript: </label>
                    <div class="">
                        {{suitabilityView.transcript}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Courses: </label>
                    <div class="">
                        {{suitabilityView.courses}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Goal: </label>
                    <div class="">
                        {{suitabilityView.goal}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Transition Date: </label>
                    <div class="">
                        {{suitabilityView.transitionDate}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Governament ID: </label>
                    <div class="">
                        {{suitabilityView.governmentID}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Appropriate Goal: </label>
                    <div class="">
                        {{suitabilityView.appropriateGoal}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">19+ Years Old: </label>
                    <div class="">
                        {{suitabilityView.isValidAge}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Not Registered In High School or Post-Sec: </label>
                    <div class="">
                        {{suitabilityView.schoolRegistration}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Available During Class Time: </label>
                    <div class="">
                        {{suitabilityView.availableDuringClass}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Last Grade Completed: </label>
                    <div class="">
                        {{suitabilityView.lastGrade}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Level: </label>
                    <div class="">
                        {{suitabilityView.level}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Post-Secondary/Job Offer start date: </label>
                    <div class="">
                        {{suitabilityView.offerStartDate}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Meets Next Goals Requirements: </label>
                    <div class="">
                        {{suitabilityView.meetsGoal}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Time out of School/Training: </label>
                    <div class="">
                        {{suitabilityView.timeOutOfSchool}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Has Been In Program Before: </label>
                    <div class="">
                        {{suitabilityView.inProgramBefore}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Employment: </label>
                    <div class="">
                        {{suitabilityView.employment}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Income Source: </label>
                    <div class="">
                        {{suitabilityView.incomeSource}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Age: </label>
                        <div class="">
                            {{suitabilityView.age}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"># of Hours/Week: </label>
                        <div class="">
                            {{suitabilityView.hoursPerWeek}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Work History: </label>
                        <div class="">
                            {{suitabilityView.workHistory}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="backButton">
            <div>
                <button (click)="goBack()" class="btn btn-default">Back</button>
            </div>
        </div>
    </div>
