<div  class="courseEdit form-horizontal">
  <div *ngIf="!newCourse && course">
    <h2>Edit Details for {{course.courseName}}</h2>
  </div>
  <div *ngIf="newCourse">
    <h2>Add New Course</h2>
  </div>
  <hr>
  <div *ngIf="course">
    <div class="form-group">
      <label class="col-sm-2 control-label">Course Name: </label>
      <div style="max-width:200px; display: inline-block;">
        <input class="form-control" [(ngModel)]="course.courseName" placeholder="Course Name" required />
      </div>
    </div>


    <!-- <div class="form-group">
      <label class="col-sm-2 control-label">Course Start Date: </label>
      <p-calendar [(ngModel)]="course.courseStart" dateFormat="dd/mm/yy"></p-calendar>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Course End Date: </label>
      <p-calendar [(ngModel)]="course.courseEnd" dateFormat="dd/mm/yy"></p-calendar>
    </div>

    <div class="form-group">

      <label class="col-sm-2 control-label">Class Day: </label>
      <p-dropdown [style]="{'width':'175px'}" [options]="daysOfWeek" [(ngModel)]="course.classDay"></p-dropdown>
    </div>





      <label class="col-sm-2 control-label">Class Date: </label>
         <p-calendar [(ngModel)]="classDate" dateFormat="dd/mm/yy"></p-calendar>
    </div> -->
<h3 class="first">Week Days</h3>
<div class="ui-g" style="margin-bottom:10px">
    <div class="ui-g-2"><p-checkbox name="group1" value="1" label="Monday" [(ngModel)]="selectedDays"></p-checkbox></div>
     <div class="ui-g-2"><p-checkbox name="group1" value="2" label="Tuesday" [(ngModel)]="selectedDays"></p-checkbox></div>
      <div class="ui-g-2"><p-checkbox name="group1" value="3" label="Wedsday" [(ngModel)]="selectedDays"></p-checkbox></div>
    <div class="ui-g-2"><p-checkbox name="group1" value="4" label="Thursday" [(ngModel)]="selectedDays"></p-checkbox></div>
    <div class="ui-g-2"><p-checkbox name="group1" value="5" label="Friday" [(ngModel)]="selectedDays"></p-checkbox></div>
</div>
     <p-schedule *ngIf="events"  [events]="events" [header]="header" [editable]="true" [weekends]="false" [allDaySlot]="false" [options]="options"></p-schedule>


    <!-- Class start and end time selection -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Class Start/End Time:</label>
      <p-calendar [(ngModel)]="course.classStartTime" [timeOnly]="true" showTime="showTime" hourFormat="12" dateFormat="hh:mm"></p-calendar> -
      <p-calendar [(ngModel)]="course.classEndTime" [timeOnly]="true" showTime="showTime" hourFormat="12" dateFormat="hh:mm"></p-calendar>
    </div>
    <!-- Instructor dropdown selection -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Instructor: </label>
      <p-dropdown [style]="{'width':'175px'}" [options]="professors" [(ngModel)]="course.professorId"></p-dropdown>
    </div>
    <!-- Campus dropdown selection -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Campus: </label>
      <p-dropdown [style]="{'width':'175px'}" [options]="campuses" [(ngModel)]="course.campusId"></p-dropdown>
    </div>
    <!-- Classroom input -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Classroom: </label>
      <div style="max-width:200px; display: inline-block;">
        <input class="form-control" [(ngModel)]="course.classroom" placeholder="Classroom" required />
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button (click)="goBack()" class="btn btn-default">Back</button>
      <button (click)="save()" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
