<div  class="courseEdit form-horizontal">
  <div *ngIf="!newCourse && course">
    <h2>Edit Details for {{course.courseName}}</h2>
  </div>
  <div *ngIf="newCourse">
    <h2>Add New Course</h2>
  </div>
  <hr>
  <div *ngIf="course">
    <div class="form-group">
      <label class="col-sm-2 control-label">Course Name: </label>
      <div class="col-sm-10">
        <input class="form-control" [(ngModel)]="course.courseName" placeholder="Course Name" required />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Start: </label>
    <!-- <datetime   [(ngModel)]="course.courseStart" [datepicker]="datepickerToOpts"></datetime> -->
    <datetime [(ngModel)]="course.courseStart"></datetime>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">End: </label>
        <!-- <datetime   [datepicker]="datepickerToOpts"></datetime> -->
    </div>




    <div class="form-group">
      <label class="col-sm-2 control-label">Valid from: </label>
         <!-- <p-calendar [(ngModel)]="course.validFrom" dateFormat="yy-mm-dd" ></p-calendar> -->
         <!-- <datetime [ngModel]="course.dateFrom" (ngModelChange)="handleDateFromChange($event)" [timepicker]="false" [datepicker]="datepickerToOpts"></datetime> -->
    </div>
        <div class="form-group">
      <label class="col-sm-2 control-label">Valid to: </label>
       <!-- <p-calendar [(ngModel)]="course.validTo" dateFormat="yy-mm-dd" ></p-calendar> -->
       <!-- <datetime [(ngModel)]="course.dateTo" [timepicker]="false" [datepicker]="datepickerToOpts"></datetime> -->
    </div>


    <div class="form-group">
      <label class="col-sm-2 control-label">professor: </label>
<p-dropdown [style]="{'width':'175px'}" [options]="professors" [(ngModel)]="course.professorId"></p-dropdown>

    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Campus: </label>
  <p-dropdown [style]="{'width':'175px'}" [options]="campuses" [(ngModel)]="course.campusId"></p-dropdown>

    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">classroom: </label>
      <div class="col-sm-10">
        <input class="form-control" [(ngModel)]="course.classroom" placeholder="classroom" required />
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button (click)="goBack()" class="btn btn-default">Back</button>
      <button (click)="save()" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
