<h2>Consent Form </h2>
<hr>
  <input   placeholder="First Name" required />

  <input   placeholder="Last name" required />

<h3>Date</h3>
  <input  type="date" placeholder="DD/MM/YYYY" required />
<h3>Phone</h3>
  <input  placeholder="phone" required />

<h3>Can a detailed message be left at this number</h3>
<label><input type="checkbox"> Yes</label>
<input type="checkbox">  No

<h3>Release information to outside agencies </h3>
<p>I also authorize Academic and Career Preparation, Georgian College, to provide information concerning my academic status and progress to:</p>
<label><input type="checkbox">Ontario Works</label>
<label><input type="checkbox">  Ontario Disability Program</label>
<label><input type="checkbox"> Employment Insurance</label>
<label><input type="checkbox">  Employment Services</label>
<label><input type="checkbox">  Other</label>


<h3>Other contact for follow up</h3>
<input   placeholder="Contact Name" required />

<input   placeholder="Phone Number" required />


<h3>Other literacy agencies</h3>
<input   placeholder="Signature" required />

<input   placeholder="Witness" required />

<div class="backButton">
    <div>
        <button (click)="goBack()" class="btn btn-default">Back</button>
    </div>
</div>
