<div class="row">
    <h2>{{courseName}} Enrollment</h2>
    <hr>

    <div *ngIf="!students" class="cs-loader">
        <div class="cs-loader-inner">
            <label>	L</label>
            <label>	O</label>
            <label>	A</label>
            <label>	D</label>
            <label>	I</label>
            <label>	N</label>
            <label>	G</label>
            <label>	.</label>
            <label>	.</label>
            <label>	.</label>
        </div>
    </div>
    <div class="col-lg-6">
        <table class="table table-striped" [mfData]="students | userFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
                <tr>
                    <th>
                        <mfDefaultSorter by="studentID">Student ID</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="lastName">Student Name</mfDefaultSorter>
                    </th>
                    <th>Add/Drop</th>
                </tr>
                <tr>
                    <th colspan="5">
                        <input placeholder="Filter by student name" class="form-control" [(ngModel)]="filterQuery" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of mf.data">
                    <td>{{student.studentID}}</td>
                    <td>{{student.firstName}} {{student.lastName}}</td>
                    <td>
                      <div *ngIf="!loading" class="input-group">
                        <button *ngIf="student.enrolled" type="button" (click)="checkEnrolled(student)" class="btn btn-danger remove">Remove</button>
                        <button *ngIf="!student.enrolled" type="button" (click)="checkEnrolled(student)" class="btn btn-success enroll">Enroll</button>
                      </div>
                  </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="backButton">
    <div>
        <button (click)="goBack()" class="btn btn-default">Back</button>
    </div>
</div>
