<div class="courseManage wrapper">
    <h1><strong>Manage Courses</strong></h1>
    <hr>

    <div *ngIf="!courses" class="cs-loader">
        <div class="cs-loader-inner">
            <label>	L</label>
            <label>	O</label>
            <label>	A</label>
            <label>	D</label>
            <label>	I</label>
            <label>	N</label>
            <label>	G</label>
            <label>	.</label>
            <label>	.</label>
            <label>	.</label>
        </div>
    </div>

    <!-- front end  for courses-->
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <label for="">Campus</label>
                <p-dropdown [style]="{'width':'175px'}" [options]="campuses" [(ngModel)]="selectedCampusId"></p-dropdown>
            </div>
            <div class="col-md-4 col-sm-4 pull-left">
                <input placeholder="Filter by course name" class="form-control" [(ngModel)]="filterQuery" />
            </div>
            <div class="pull-right">
                <div class="padding">
                    <button class="btn btn-success" (click)="addCourse()"><i class="fa fa-plus"></i> Add a Course</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
          <p-dataTable [value]="courses | courseFilter : filterQuery | campusFilter : selectedCampusId" [responsive]="true">
              <p-column field="courseName" header="Course Name" [sortable]="true"></p-column>
              <p-column field="professorName" header="Instructor" [sortable]="true"></p-column>
              <p-column field="classroom" header="Classroom" [sortable]="true"></p-column>
              <p-column field="campusName" header="Campus" [sortable]="true"></p-column>
              <p-column field="courseStart" header="Start Date" [sortable]="true"></p-column>
              <p-column field="courseEnd" header="End Date" [sortable]="true"></p-column>
              <p-column header="Action" [style]="{'width': '281px'}">
                <template let-data="rowData" pTemplate="body">
                  <div class="inline">
                      <button class="btn btn-warning" (click)="gotoStudentEnrollment(data, $event)"><i class="fa fa-institution" aria-hidden="true"></i> Enroll</button>
                  </div>
                  <div class="inline">
                      <button class="btn btn-primary" (click)="gotoEdit(data, $event)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                  </div>
                  <div class="inline">
                      <button class="btn btn-danger" (click)="deleteAlert(data, $event)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                  </div>
                </template>
              </p-column>
          </p-dataTable>
        </div>
    </div>
    <div class="push"></div>
</div>
<div class="footer">
    <div>
        <button (click)="goBack()" class="btn btn-default">Back</button>
    </div>
</div>
