<div class="course">
    <h2>Manage Courses</h2>
    <hr>

    <div *ngIf="!courses" class="cs-loader">
        <div class="cs-loader-inner">
            <label>	L</label>
            <label>	O</label>
            <label>	A</label>
            <label>	D</label>
            <label>	I</label>
            <label>	N</label>
            <label>	G</label>
            <label>	.</label>
            <label>	.</label>
            <label>	.</label>
        </div>
    </div>

    <!-- front end  for courses-->
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <label for="">Campus</label>
                <p-dropdown [style]="{'width':'175px'}" [options]="campuses" [(ngModel)]="selectedCampusId"></p-dropdown>
            </div>
            <div class="col-md-4 col-sm-4 pull-left">
                <input placeholder="Filter by course name" class="form-control" [(ngModel)]="filterQuery" />
            </div>
            <div class="pull-right">
                <div class="padding">
                    <button class="btn btn-success" (click)="addCourse()"><i class="fa fa-plus"></i> Add a Course</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-striped" [mfData]="courses | courseFilter : filterQuery | campusFilter : selectedCampusId" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th>
                            <mfDefaultSorter by="courseName">Course Name</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="professor">Professor</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="classroom">Classroom</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="Campus">Campus</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="courseStart">Course Start</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="courseEnd">Course End</mfDefaultSorter>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of mf.data">
                        <td>{{ course.courseName?course.courseName:'none'}}</td>
                        <td>{{ course.professorName?course.professorName:'none' }}</td>
                        <td>{{ course.classroom?course.classroom:'none' }}</td>
                        <td>{{ course.campusName?course.campusName:'none' }}</td>
                        <td>{{ course.courseStart?course.courseStart:'none' }}</td>
                        <td>{{ course.courseEnd?course.courseEnd:'none' }}</td>
                        <td class="actionColumn middle">
                            <div class="inline">
                                <button class="btn btn-warning" (click)="gotoStudentEnrollment(course, $event)"><i class="fa fa-institution" aria-hidden="true"></i> Enroll</button>
                            </div>
                            <div class="inline">
                                <button class="btn btn-primary" (click)="gotoEdit(course, $event)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                            </div>
                            <div class="inline">
                                <button class="btn btn-danger" (click)="deleteAlert(course, $event)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


    <div class="backButton">
        <div>
            <button (click)="goBack()" class="btn btn-default">Back</button>
        </div>
    </div>
</div>
